body {
	background-color : #ADD8E6 ;
}
a:link {color:#FF0000;}      /* unvisited link */
a:visited {color:red;}  /* visited link */
a:hover {color:white;}  /* mouse over link */
a:active {color:#0000FF;}  /* selected link */
#header {
	border-radius: 5px;
	background-color: white;
	border width: 10px;
	border-color: black;
	border-style: solid;

}
.box {
	background-image: url('images/speaker.jpg');
	background-position: center;
	text-align: center;
	height: 50px;
	width: 150px;
	padding: 10px;
  	border-width: 5px;
	border-style: solid;
	border-radius: 5px;
	margin-top: 25px;
	margin-right: 10px;
	display : inline-block;
}
.box2 {
	background: white;
	background-image: url('images/prettyprincess.jpg');
	background-position: center;
	text-align: center;
	height: 250px;
	width: 250px;
  	border-width: 5px;
	border-style: solid;
	border-radius: 5px;
	position : fixed;
	bottom: 30px;
	right : 5px;
}