body {
	background-color : #ADD8E6 ;
}

#header {
	border-radius: 5px;
	background-color: white;
	border width: 10px;
	border-color: black;
	border-style: solid;

}
#background { 
	background-image: url('city-of-bass-tee.jpg');
	height:700px;
	}
.box {
	text-align: center;
	height: 50px;
	width: 150px;
  	background-color:red;
	border-width: 5px;
	border-style: solid;
	border-radius: 5px;
}